@greenColor: #538646;
@yellowColor: #e1b647;
@brownColor: #7a5120;
@textColor: #212121;

.main{
  font-family: 'Roboto Condensed', sans-serif;
  background: url("../images/footer-img.jpg") bottom no-repeat;
}

.container{
  max-width: 1260px;
}

.btn{
  font-size: 24px;
  font-weight: 500;
  padding: 20px;
  border-radius: 15px;
  text-transform: uppercase;
  width: 260px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.yellow{
    background-color: @yellowColor;
    color: @brownColor;
  }
  
  &.green{
    background-color: @greenColor;
    color: #fff;
  }
}

.main{
  overflow: hidden;
}

header{
  background: @greenColor;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 72px;

  &:before{
    content: '';
    width: 50%;
    height: 100px;
    display: block;
    position: absolute;
    transform: skewX(-30deg);
    background-color: @greenColor;
    top: 0;
    left: 0;
  }

  >.container{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 40px;

    &:before{
      content: '';
      width: 1px;
      height: 999999px;
      background-color: #d4f8c5;
      position: absolute;
      left: 1px;
      top: 135px;
    }

    &:after{
      content: '';
      width: 50px;
      height: 33px;
      background-color: #fff;
      position: absolute;
      bottom: 1px;
      left: 0;
    }
  }

  .menu-toggle{
    width: 30px;
    height: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    margin: 30px;
    cursor: pointer;

    span{
      width: 100%;
      height: 2px;
      display: block;
      background-color: @greenColor;
    }
  }

  .menu{
    ul{
      margin: 0;
      display: flex;
      padding: 8px 10px;
      list-style: none;

      li{
        &:last-child{
          a{
            border-right: none;
          }
        }
        a{
          color: #eaeaea;
          display: flex;
          font-size: 14px;
          font-weight: 500;
          padding: 10px 10px;
          flex-direction: column;
          text-transform: uppercase;
          border-right: 1px solid #406933;

          &:hover{
            text-decoration: none;
          }

          span{
            font-size: 8px;
            color: #fffcb1;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .logo{
    position: relative;
    padding: 15px 40px;
    margin-top: 10px;

    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      right: 100%;
      width: 100%;
      height: 1px;
      background-color: @greenColor;
    }

    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transform: skew(-25deg, 0);
      border: 1px solid @greenColor;
    }

    img{
      max-width: 100%;
      position: relative;
      z-index: 999;
    }
  }

  .lang{
    .lang-wrap{
      border-radius: 10px;
      padding: 3px 10px 3px 10px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      display: flex;
      margin: 22px 0;
      border: 1px solid rgba(255,255,255,.3);

      img{
        margin-right: 5px;
      }

      p{
        margin: 0;
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }
}

.header-block{
  background: url("../images/header-bg.jpg?1") no-repeat center left;
  padding-top: 175px;
  margin-top: -100px;

  .text-block{
    max-width: 530px;
    padding: 120px 0 70px 25px;
  }

  h1{
    font-size: 56px;
    font-weight: bold;
    color: @greenColor;
    text-transform: uppercase;
  }

  p{
    font-size: 16px;
    color: @textColor;

    &.text{
      margin: 40px 0;
    }
  }

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    margin-top: 80px;

    li{
      a{
        font-size: 24px;
        color: @greenColor;
      }
    }
  }
}

.cards-block{

  .container{
    display: flex;
    padding: 80px 15px;
    position: relative;

    &:before{
      content: '';
      width: 1px;
      height: 999999px;
      background-color: #d4f8c5;
      position: absolute;
      right: 1px;
      top: 0;
    }
  }

  .item{
    border: 1px solid @greenColor;
    border-radius: 15px;
    position: relative;
    width: 18%;
    margin: 0 1%;

    .ico{
      position: absolute;
      top: -45px;
      right: -15px;
    }

    .item-top{
      padding: 50px 0 20px 0;

      p{
        font-size: 48px;
        color: @greenColor;
        font-weight: bold;
        margin: 0 0 0 30px;
        line-height: 1em;
        position: relative;

        sup{
          font-size: 28px;
        }
      }
      span{
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: @yellowColor;
        margin-left: 80px;
      }
    }

    .days{
      background-color: @greenColor;
      text-align: center;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px;
    }

    .desc{
      table{
        border-collapse: collapse;
        width: 100%;
        td{
          color: #2a3d1a;
          font-size: 11px;
          font-weight: bold;
          padding: 10px;
          border-bottom: 2px dashed @greenColor;
          border-left: 2px dashed @greenColor;
          width: 50%;
          text-align: center;
          text-transform: uppercase;

          &:first-child{
            border-left: none;
          }
        }

        tr{
          &:last-child{
            td{
              border-bottom: none;
            }
          }
        }
      }
    }

    .item-btn{
      background-color: #2a3d1a;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      display: block;
      padding: 15px;
      border-radius: 0 0 15px 15px;

      &:hover{
        text-decoration: none;
      }
    }
  }
}

.about-block{

  .container{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 1px solid @greenColor;
    position: relative;

    .learn-more{
      position: absolute;
      padding: 10px 35px;
      border-radius: 25px;
      background-color: @greenColor;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      bottom: -20px;
      left: 50%;
      margin-left: -85px;
    }
  }

  .text{
    width: 60%;

    h2{
      font-size: 36px;
      color: @brownColor;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 50px;
    }

    p{
      font-size: 14px;
      color: @textColor;
      margin-bottom: 15px;
    }
  }

  .image{

  }
}

.video-block{
  .container{
    display: flex;
    justify-content: space-between;
    padding: 50px 30px;
    border-bottom: 1px solid @greenColor;
  }

  .block{
    width: 49%;
    padding: 20px;
    position: relative;
    background: url("../images/line-bg.jpg");

    iframe{
      width: 86%;
      height: 52%;
      top: 14.5%;
      position: absolute;
      z-index: 99;
      left: 7%;
    }

    h3{
      font-size: 24px;
      color: #475e33;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  .video{
    img{
      width: 100%;
      margin-bottom: 15px;
    }

    p{
      font-size: 15px;
      font-weight: bold;
      text-align: justify;
    }
  }

  .certificate{
    .certificate-wrap{
      display: flex;

      .btn{
        font-size: 14px;
        max-width: 90%;
        height: 50px;
        margin-bottom: 10px;
      }

      .btn-block{
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .desc{

        .text{
          margin-bottom: 70px;
          background-color: rgba(255,255,255,.5);
          padding: 15px;

          p{
            margin: 0;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;

            span{
              color: @greenColor;
            }
          }
        }
      }
    }
  }
}

.partners-block{
  .partners{
    margin: 15px;
    padding: 15px;
    background: url("../images/line-bg.jpg");
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    h2{
      font-size: 36px;
      text-transform: uppercase;
      color: @brownColor;
      background-color: @yellowColor;
      padding: 20px 40px 20px 20px;
      font-weight: bold;
      position: relative;

      &:before{
        content: '';
        background: url("../images/line-bg.jpg");
        width: 100px;
        height: 100%;
        transform: skewX(-20deg);
        position: absolute;
        right: -85px;
        top: 0;
      }
    }

    .image{
      margin-right: 35px;
      z-index: 99;
    }

    .item{
      display: flex;
      background-color: rgba(255,244,150,.35);
      margin: 20px 0;
      width: 80%;
      margin-left: 10%;
      position: relative;

      &:before{
        content: '';
        background: url("../images/line-bg.jpg");
        width: 100px;
        height: 100%;
        transform: skewX(-20deg);
        position: absolute;
        right: -20px;
      }

      &.green{
        background-color: rgba(78,255,0,.35);
        margin-left: 20%;

        p.title{
          color: @greenColor;
          border-bottom: 2px dashed @greenColor;
        }

        .percent{
          p{
            color: #5c962a;
          }

          &:before{
            border-color: #5c962a;
          }
        }
      }

      .text{
        width: 100%;

        p{
          font-size: 24px;
          font-weight: bold;
          color: @textColor;
          padding-left: 50px;
          margin-left: 20px;
        }
      }

      p.title{
        font-size: 24px;
        font-weight: bold;
        color: @brownColor;
        text-transform: uppercase;
        border-bottom: 2px dashed @brownColor;
        width: 80%;
        padding: 10px 0 10px 50px;
        margin-bottom: 5px;
      }

      .percent{
        position: relative;
        margin-left: -40px;
        top: 13px;

        p{
          font-size: 36px;
          font-weight: bold;
          color: #c08700;
          position: relative;
          display: flex;
          width: 90px;
          height: 90px;
          justify-content: center;
          align-items: center;
        }

        &:before{
          content: '';
          width: 90px;
          height: 90px;
          display: block;
          position: absolute;
          z-index: 0;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 15px;
          background-color: rgba(255,255,255,.9);
          border: 3px solid @yellowColor;
          transform: rotate(45deg);
        }
      }
    }
  }
}

.benefits-block{
  .container{
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
  }

  .left-block{
    position: relative;
    overflow: hidden;
    background: url(../images/left-block-lines.jpg) no-repeat top right;
    padding-top: 60px;

    h2{
      font-size: 32px;
      font-weight: bold;
      color: @brownColor;
      text-transform: uppercase;
    }
    ul{
      padding: 0;
      margin: 50px 0;
      list-style: none;
      position: relative;

      &:before{
        content: '';
        width: 170px;
        height: 170px;
        display: block;
        border-radius: 100%;
        background-color: #dde2aa;
        position: absolute;
        left: -85px;
        top: 40px;
      }

      li{
        font-size: 32px;
        color: @textColor;
        position: relative;
        padding-left: 30px;
        margin-bottom: 15px;

        &:nth-child(1){
          margin-left: 30px;
        }

        &:nth-child(2){
          margin-left: 90px;
        }

        &:nth-child(3){
          margin-left: 95px;
        }

        &:nth-child(4){
          margin-left: 40px;
        }

        &:before{
          content: '';
          width: 12px;
          height: 12px;
          position: absolute;
          border-radius: 100%;
          display: block;
          left: 0;
          top: 50%;
          margin-top: -6px;
          background-color: #a16722;
        }
      }
    }
  }

  .right-block{
    background: url("../images/right-block-lines.jpg") no-repeat top right;
    padding-left: 90px;
    padding-top: 60px;
    max-width: 325px;
    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
    position: relative;
    
    .graph{
      position: absolute;
      top: 0;
      left: 46%;
    }

    h3{
      font-size: 28px;
      font-weight: bold;
      text-transform: uppercase;
      color: @brownColor;
      white-space: nowrap;
    }

    ul{
      list-style: none;
      padding: 0;
      margin: 0;

      li{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #454444;
        text-transform: uppercase;
        font-weight: 500;
        align-items: center;
        position: relative;
        margin: 10px 0;

        p{
          margin: 0;
          background-color: #fff;
          position: relative;
          padding-right: 15px;
        }

        &:before{
          content: '';
          position: absolute;
          top: 50%;
          width: 65%;
          height: 1px;
          left: 0;
          border-bottom: 1px dashed #7d8d18;
        }

        .price{
          padding: 5px 15px;
          border-radius: 15px;
          border: 1px solid @yellowColor;
          width: 100px;
          text-align: center;
        }
      }
    }
  }
}

.payment-block{
  .container{
    display: flex;
    justify-content: flex-end;
    padding: 0 35px;
    position: relative;

    &:before{
      content: '';
      width: 100px;
      height: 1px;
      background-color: @brownColor;
      display: block;
      position: absolute;
      right: 55%;
      top: 47px;
      transform: rotate(110deg);
    }

    img{
      padding: 15px 0 15px 15%;
      border-top: 1px solid @brownColor;
    }
  }
}

footer{
  z-index: 20;
  position: relative;
  height: 133px;

  .logo{
    position: relative;
    bottom: 30px;
  }

  .container{
    display: flex;
    justify-content: space-between;
    position: relative;

    &:before{
      content: '';
      width: 1px;
      height: 999999px;
      background-color: #65372D;
      position: absolute;
      left: 1px;
      top: 0;
      z-index: 2;
    }

    &:after{
      content: '';
      width: 1px;
      height: 999999px;
      background-color: #65372D;
      position: absolute;
      right: 1px;
      top: 0;
      z-index: 2;
    }
  }

  .menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: inherit;
    margin: 20px 0;


    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      border-bottom: 1px solid #735950;

      li{
        margin: 0 12px;
        position: relative;
        padding-bottom: 10px;

        &:first-child{
          &:after{
            content: '';
            width: 100%;
            left: -50%;
            height: 10px;
            display: block;
            background-color: #64372D;
            position: absolute;
            bottom: -1px;
          }
        }

        &:last-child{
          &:after{
            content: '';
            width: 100%;
            right: -50%;
            height: 10px;
            display: block;
            background-color: #64372D;
            position: absolute;
            bottom: -1px;
          }
        }

        &:before{
          content: '';
          width: 1px;
          height: 10px;
          background-color: #735950;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }

        a{
          color: #fff;
          font-size: 15px;
          font-weight: 500;
        }
      }
    }

    .copy{
      font-size: 14px;
      color: rgba(255,255,255,.15);
      font-weight: 500;
      margin-right: 12px;
    }
  }
}


@media screen and (max-width: 1250px){
  .video-block .certificate .certificate-wrap .desc .text{
    margin-bottom: 15px;
  }
  .video-block .certificate .certificate-wrap{
    flex-direction: column-reverse;
    
    .image{
      text-align: center;
    }
  }

  .video-block .block iframe {
    width: 86%;
    height: 39.5%;
    top: 11%;
    position: absolute;
    z-index: 99;
    left: 7%;
  }

  header .lang .lang-wrap{
    margin-left: 30px;
  }

  .payment-block .container:before{
    display: none;
  }

  .payment-block .container img{
    padding: 15px 0;
  }
}

@media screen and (max-width: 1120px){
  header{
    .menu{

    }

    .logo{
      padding: 10px;
    }
  }
}

@media screen and (max-width: 1050px){
  footer{
    background-color: #64372D;
    height: auto;

    .container{
      flex-direction: column;
    }
  }

  .video-block .block iframe {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
  }

  .video-block .video img{
    display: none;
  }

  .menu-toggle{
    position: relative;
    z-index: 99;

  }

  header .menu-toggle span{
    background-color: #fff;
  }

  .menu-toggle.active{
    display: flex;
    position: relative;
    z-index: 99;

    span{
      background-color: #fff;
    }
  }

  header{
    .menu{
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding-top: 60px;
      background-color: @greenColor;
      align-items: center;
      z-index: 11;
      justify-content: flex-end;
      padding-right: 25px;

      &.active{
        display: flex;
      }

      ul{
        flex-direction: column;

        li{
          a{
            border-right: none;
            align-items: flex-end;
          }
        }
      }
    }

    .menu-toggle{
      display: flex;
    }

    > .container{

    }
  }

  .cards-block .container{
    flex-wrap: wrap;
    justify-content: center;

    .item{
      width: 31.33%;
      margin-bottom: 60px;
    }
  }

  .about-block .container{
    flex-direction: column-reverse;
    justify-content: center;
    position: relative;

    .text{
      width: 100%;
    }

    .image{
      width: 100%;
      display: flex;
      justify-content: center;

      img{
        max-width: 100%;
      }
    }
  }

  .benefits-block .left-block ul li{
    font-size: 20px;
  }
  .benefits-block .left-block ul:before{
    top: 0;
  }
}

@media screen and (max-width: 992px){
  .partners-block .partners{
    img{
      display: none;
    }
  }

  .partners-block .partners h2:before{
    display: none;
  }

  .benefits-block .right-block .graph{
    display: none;
  }

  .partners-block .partners h2{
    width: 100%;
  }

  .partners-block .partners .item:before{
    display: none;
  }

  .benefits-block .container{
    flex-direction: column;
  }

  .benefits-block .right-block{
    background: none;
    padding: 0;
    max-width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px){
  .payment-block .container img{
    max-width: 100%;
  }
  .benefits-block .left-block{
    background: none;
  }
  .benefits-block .left-block ul li{
    margin-left: 0 !important;
  }
  .benefits-block .left-block ul:before{
    display: none;
  }
  .partners-block .partners .item .text p{
    padding: 10px;
  }
  .partners-block .partners .item .percent{
    margin-left: 0;
  }
  .partners-block .partners .item{
    flex-direction: column;
  }
  .partners-block .partners .item.green{
    margin-left: 10%;
  }
  .video-block .certificate .certificate-wrap .image{
    img{
      max-width: 100%;
    }
  }
  .video-block .container{
    flex-direction: column;
  }
  .btn{
    font-size: 16px;
    max-width: 100%;
  }

  .video-block .block{
    width: 100%;
  }

  .header-block .text-block{
    padding: 120px 0 70px 0px;
  }

  .cards-block .container{
    flex-wrap: wrap;
    justify-content: center;

    .item{
      width: 98%;
      margin-bottom: 60px;
    }
  }

  header{
    .logo{
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        width: 150px;
      }
    }

    .lang{
      display: none;
    }
  }

  .header-block{
    h1{
      font-size: 36px;
    }
  }

  footer .menu{
    align-items: flex-start;
  }

  footer .menu ul li:first-child:after{
    display: none;
  }
  footer .menu ul li:before{
    display: none;
  }
  footer .menu ul li:last-child:after{
    display: none;
  }

  footer .logo{
    bottom: 0;

    img{
      max-width: 100%;
    }
  }

  footer .menu ul{
    border: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  header > .container:after{
    display: none;
  }

  header .menu-toggle span{
    background-color: #fff;
  }
}