.btn {
  background-color: #3578e5;
  font-size: 16px;
  font-weight: bold;
  color: #fff !important;
  border-radius: 3px;
  padding: 6px 40px;
}
.btn:hover {
  background-color: #3b5998;
}
.btn.border {
  background-color: transparent;
  border: 2px solid #fff !important;
}
.btn.border:hover {
  background-color: transparent;
}
.btn.border.white {
  border-color: #fff;
  color: #fff;
}
.btn.border.blue {
  border-color: #3F80FE !important;
  color: #3F80FE !important;
}
h1 {
  font-size: 64px;
  font-weight: 400;
}
h2 {
  font-size: 36px;
  font-weight: 400;
}
p {
  font-size: 18px;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: #fff;
}
header > .container {
  display: flex;
  height: 68px;
  justify-content: space-between;
  align-items: center;
}
header .logo img {
  max-width: 205px;
}
header .menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
header .menu ul li {
  margin: 0 20px;
}
header .menu ul li a {
  font-size: 16px;
  color: #0a2042;
}
header .menu ul li a.btn {
  padding: 6px 20px;
}
header .menu ul li a:hover {
  text-decoration: none;
}
header .toggle {
  width: 22px;
  height: 22px;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
header .toggle span {
  width: 100%;
  display: block;
  height: 2px;
  background-color: #0A2042;
}
header .toggle span:nth-child(2) {
  margin: 5px 0;
}
.first-block {
  padding: 158px 0 90px 0;
}
.first-block h1 {
  font-size: 64px;
  font-weight: 400;
  color: #0A2042;
  line-height: 1.1em;
  margin-bottom: 20px;
}
.first-block p {
  font-size: 18px;
  color: #0A2042;
  max-width: 460px;
  margin-bottom: 20px;
}
.first-block .text {
  max-width: 670px;
  padding-left: 50px;
}
.video-block {
  margin-bottom: -10px;
}
.video-block video {
  width: 100%;
  margin: 0;
  padding: 0;
  object-fit: fill;
}
.content-block {
  background-color: #0A2042;
  padding: 90px 0;
}
.content-block.blue {
  background-color: #3F80FE;
}
.content-block > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-block .text {
  color: #fff;
  max-width: 272px;
  width: 100%;
}
.content-block .text .btn {
  margin-top: 20px;
}
.content-block .text h3 {
  font-size: 36px;
  margin: 15px 0;
}
.content-block .text p {
  font-size: 18px;
  margin: 0;
}
.content-block .image {
  width: 100%;
  max-width: 700px;
}
.content-block .image img {
  max-width: 100%;
}
.info-block {
  background-color: #fff;
  padding: 90px 0;
}
.info-block h2 {
  font-size: 36px;
  margin: 0;
  max-width: 860px;
}
.info-block p {
  margin: 0;
}
.info-block p.red {
  color: #FF6D5B;
}
.success-block {
  padding: 90px 0;
}
.success-block p {
  margin: 0;
}
.success-block .items {
  display: flex;
  justify-content: space-between;
  margin: 70px 0;
}
.success-block .items .item {
  max-width: 275px;
}
.success-block .items .item:nth-child(2) {
  margin: 0 20px;
}
.success-block .items .ico {
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.success-block .items .ico img {
  max-height: 50px;
}
footer .pre-footer {
  background-color: #3F80FE;
  padding: 90px 0;
  color: #fff;
}
footer .pre-footer > .container {
  display: flex;
  justify-content: space-between;
}
footer .pre-footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer .pre-footer ul li {
  margin-bottom: 20px;
}
footer .pre-footer ul li:first-child {
  font-weight: bold;
}
footer .pre-footer ul li a {
  color: #fff;
}
footer .pre-footer ul li a:hover {
  text-decoration: none;
  opacity: 0.7;
}
footer .footer-bottom {
  padding: 50px 0;
}
footer .footer-bottom .apps ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
footer .footer-bottom .apps ul li {
  margin-right: 20px;
}
footer .footer-bottom .apps ul li a {
  display: flex;
  width: 150px;
  height: 44px;
  background: url(../images/app.png);
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: 0 0;
}
footer .footer-bottom .apps ul li a.app-store {
  background-position: 0 -46px;
}
footer .footer-bottom .footer-end {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
footer .footer-bottom .footer-end ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
footer .footer-bottom .footer-end ul li {
  margin: 0 20px;
  color: grey;
}
footer .footer-bottom .footer-end ul li:first-child {
  margin-left: 0;
}
footer .footer-bottom .footer-end ul li a {
  color: grey;
}
@media screen and (max-width: 992px) {
  header .toggle {
    z-index: 999;
    position: relative;
    overflow: hidden;
    display: flex;
  }
  header .toggle.close span {
    background-color: #fff;
    transform-origin: 0 0;
    position: absolute;
    width: 100%;
  }
  header .toggle.close span:nth-child(1) {
    transform: rotate(50deg);
    top: 1px;
    left: 2px;
  }
  header .toggle.close span:nth-child(2) {
    transform: rotate(-50deg);
    top: 13px;
  }
  header .toggle.close span:last-child {
    display: none;
  }
  header.active .logo {
    z-index: 999;
    filter: invert(1);
  }
  header.active > .container {
    padding: 50px;
    width: 100%;
    max-width: 100%;
  }
  header.active .menu {
    top: 0;
  }
  header .menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3F80FE;
    padding: 50px;
  }
  header .menu ul {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
  }
  header .menu ul li {
    margin: 0;
  }
  header .menu ul li a {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }
  header .menu ul li a.btn {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }
  footer .pre-footer > .container {
    flex-wrap: wrap;
  }
  footer .pre-footer > .container ul {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  footer .footer-bottom .footer-end {
    flex-direction: column-reverse;
    margin-top: 0;
  }
  footer .footer-bottom .apps {
    display: none;
  }
  footer .footer-bottom .footer-end ul {
    flex-direction: column;
    margin-top: 50px;
  }
  footer .footer-bottom .footer-end ul li {
    margin: 3px 0;
  }
  footer .footer-bottom .footer-end ul li:last-child {
    margin-top: 10px;
  }
  footer .pre-footer > .container {
    flex-direction: column;
  }
  footer .pre-footer > .container ul {
    width: 100%;
  }
  footer .pre-footer > .container ul li {
    display: none;
  }
  footer .pre-footer > .container ul li:first-child {
    display: block;
  }
  h1 {
    font-size: 42px !important;
  }
  h2 {
    font-size: 28px !important;
  }
  .first-block .text {
    padding: 0;
  }
  .content-block > .container {
    flex-direction: column;
  }
  .content-block > .container .text {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .content-block > .container .image {
    max-width: 100%;
  }
  .success-block .items {
    flex-direction: column;
  }
  .success-block .items .item:nth-child(2) {
    margin: 20px 0;
  }
}
/*# sourceMappingURL=style.css.map */